<header role="banner">
    <section class="face">
        <h1>
            <a href="/">
                <img class="photo" src="/images/face.jpg" width="100px" height="auto" alt="my face">
            </a>
        </h1>
    </section>

    {{ partial "main_menu.html" . }}
    {{ partial "social_menu.html" . }}
    
    <div class="search">
        <form action="#" method="get" role="search">
            <input type="search" name="search" id="search" placeholder="Search...">
        </form>
    </div>
</header>