<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <title>{{- .Site.Title -}}</title>
    
    <link rel="stylesheet" href='{{ "css/normalize.css" | relURL}}'>
    <link rel="stylesheet" href='{{ "css/master.css" | relURL}}'>

    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/google_news.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}
</head>