{{ define "main" }}
{{ $timeToRead := math.Round (div .WordCount 200.0) }}
    <article aria-labelledby="post-title">
        <header class="post-header">
            <h1 id="post-title">{{ .Title }}</h1>
            <ul class="subline">
                    <li>{{ .Date.Format "Jan 02, 2006" }}</li>
                    <li>{{ .WordCount }}{{ if le .WordCount 1}} word{{ else }} words{{ end }}</li>
                    <li>{{ if le $timeToRead 1}}less than a minute{{ else }}{{ $timeToRead }} minutes{{ end }} to read</li>
                </ul>
        </header>
        {{ .Content }}
    </article>
{{ end }}